body {
  padding-top: 180px;
  background-color: rgb(212, 211, 211);
}

.input-wrapper {
  text-align: center;
}

.input {
  width: 600px;
  padding: 5px 15px;
  line-height: 1.5;
}

.countries-list {
  width: 60%;
  margin: 50px auto 0;
  padding: 0;
}

.countries-list__item {
  padding: 5px;
}

.country-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 300px;
}

.country-card__content {
  flex-basis: 50%;
}

.country-card__flag-wrapper {
  max-width: 300px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

[data-pnotify] .pnotify-container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

[data-pnotify] .brighttheme-closer,
[data-pnotify] .brighttheme-sticker {
  flex-basis: 100%;
  justify-content: flex-end;
}

[data-pnotify].pnotify-with-icon .brighttheme-content {
  flex-basis: 85%;
  margin-left: 15px;
}
